<div class="cart_title">Your Cart</div>
<table>
  <% @cart.order_posts.each do |order| %>
    <tr>
      <td><%= order.quantity %>&times;</td>
      <td><%= order.post.title %></td>
      <td class="item_price"><%= number_to_currency(order.total_price) %></td>
    </tr>
  <% end %>
 
  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
 
</table>
<%= button_to 'Make my cart free', @cart, :method => :delete,
    data: { confirm: "Are you sure?" } %>	